/* header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
} */

/* my code start */


header {
    position: relative;
    padding-top: 3rem;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../assets/header-background.jpg) no-repeat top center;
    background-size: cover !important;
     -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
 }

.me {
    /* background: linear-gradient(var(--color-primary), transparent);
   
    
   border-radius: 100%;
   border: solid;*/
   position: relative;
   padding: 0.5rem;
   left: calc(50% - 5rem); 
   width: 10rem;
   height: 10rem;
   aspect-ratio: 1/1;
   border-radius: 100%;
   background: linear-gradient(45deg, transparent,var(--color-primary),transparent);
   display: grid;
   place-items: center;
}


header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
 }

 header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em;
   color: #d0d0d0;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h5 {
    padding-top: 0.5rem;
    font: 18px/1.9em;
    color: #ffffff;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
 }

header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
.header__socials {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.header__socials a {
   display: inline-block;
   margin: 0 15px;
   padding: 0rem;
}
.header__socials a { color: #fff; }
.header__socials a:hover { color: #11ABB0; }

 /* my code end */

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*========== CTA ===========*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*==================socials==============*/
/* .header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::before {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
} */



/*==================Image==============*/





/*==================Medium devices==============*/
@media screen and (max-width: 1024px){
    header {
        height: 68vh;
    }
}

/*==================small devices==============*/
@media screen and (max-width: 600px){
    header {
        height: 90vh;
        
    }

    .header__socials {
        display: inline-block;
   margin: 0 15px;
   padding: 0rem;
    }

    /* .me {
         background: linear-gradient(90deg, rgb(176, 97, 0), rgb(244, 197, 67));
        width: 18rem;
        height: 18rem;
        position: absolute;
        left: calc(50% - 9rem);
        margin-top: 2rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    } */

    
/* .me {
    background: linear-gradient(var(--color-primary), transparent);
    position: relative;
    width: 7rem;
    height: 7rem;
   border-radius: 100%;
   border: solid;
   left: calc(50% - 3.5rem);
  
} */

.me{
    position: relative;
    width: 7rem;
    height: 7rem;
  
    left: calc(50% - 3.5rem);
    }
.scroll__down {
    display: none;
}


header .banner-text h1 {
    font: 50px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
 }



}